.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__label {
  margin: 12px 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  margin-bottom: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  cursor: pointer;
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 628px) {
  .card__image {
    height: 288px;
  }
}
