.card {
  max-width: 413px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5px;
}

.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__label {
  margin: 12px 0 0;
  font-family: Poppins;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 36px;
}

.card__label:nth-of-type(4) {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  background-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

@media screen and (max-width: 826px) {
  .card__image {
    height: 288px;
  }
}
