.card {
  max-width: 413px;
  position: relative;
}

.card__image {
  margin: 0 0 12px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__delete-btn {
  /* Styles */
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
}



.card__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__label {
  color: #212121;
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-btn {
  cursor: pointer;
  background-image: url(../images/like-icon.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-btn:hover {
  opacity: 100%;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-btn_active {
  background-image: url(../images/likedheart.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: .4;
}



@media screen and (max-width: 628px) {
  .card__image {
    height: 288px;
  }
}
