.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  border-top: 1px solid rgba(33, 33, 33, 0.4);
}

.footer__label {
  width: 104px;
  height: 16px;
  font-family: Poppins;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 60px;
}
