.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

.footer__label {
  margin: 0;
  padding: 60px 0 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121b2;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
}
