 .modal {
  visibility: hidden;
  opacity: 0;
  transition: .5s linear;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible; 
  opacity: 1;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 32px;
  right: 50px;
  opacity: .40;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal__close_type_preview {
  top: 0;
  right: -52.5px;
}

.modal__close:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-family: "Poppins", 'Times New Roman', Times, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  display: block;
  width: 100%;
  font-family: "Poppins", "Times New Roman", Times, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 110%;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0;
  width: 100%;
  font-family: "Poppins", "Times New Roman", "Times", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 100%;
  padding: 16px 12px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  border-radius: 8px;
  box-sizing: border-box;
}

.modal__input_type_error {
  border: 1px solid rgba(255, 0, 0, 0.6);
}

.modal__error {
  visibility: hidden;
  display: block;
  margin-top: 8px;
}

.modal__error_visible {
  visibility: visible;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
}

.modal__save-button {
  border: none;
  cursor: pointer;
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  border-radius: 8px;
  gap: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", "Times New Roman", "Times", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
}

.modal__save-button_disabled {
  opacity: 0.5;
  pointer-events: none;
}

.modal__image-container {
  position: relative;
}

.modal__image {
    max-width: 80vw;
    max-height: 80vh;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 8px;
}

.modal__caption {
  /* styling */
  color: white;
}

@media screen and (max-width: 628px) {
  .modal__title {
    font-size: 20px;
    margin: 0 0 20px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__save-button {
    width: 100%;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }

  .modal__close {
    top: 12px;
    right: 12px;
  }
}

@media screen and (max-width: 628px) {
  .modal__close_type_preview {
    top: -48px;
    right: 0;
  }

  .modal__image {
    max-width: unset;
  }
}
