.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__image {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  color: #212121b2;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__button-edit {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
}

.profile__button-edit:hover {
  background-color: transparent;
  opacity: 100%;
  cursor: pointer;
}

.profile__new-button {
  cursor: pointer;
  margin-left: auto;
  margin-top: auto;
  border: none;
  text-align: center;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  padding-top: 18px;
  padding-right: 32px;
  padding-bottom: 18px;
  padding-left: 32px;
  gap: 8px;
  opacity: 1;
  border-radius: 8px;
}

.profile__new-button:hover {
  background-color: rgba(33, 33, 33, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 628px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__image {
    margin: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    max-width: 288px;
    font-size: 20px;
    margin: 0 0 6px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__new-button {
    margin: 0;
    width: 100%;
  }
}
